[Desktop Entry]
Name=swaglyrics
Exec=swaglyrics
Type=Application
Icon=swaglyrics
Terminal=true
Keywords=Lyrics;Music;Songs;
StartupWMClass=swaglyrics
